---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 Not Found'>
    <section
        class='max-w-4xl 2xl:max-w-5xl w-full flex flex-col items-start relative top-8 xl:top-16 2xl:top-24'
    >
        <h1
            class='text-7xl xl:mb-0 mb-60 text-transparent bg-gradient-to-r from-acent to-sky-500 bg-clip-text font-bold font-frutiger'
        >
            404
        </h1>
        <h2 class='text-3xl font-bold font-frutiger pl-1'>Page not found</h2>
    </section>
</Layout>

<style>
    span {
        font-weight: bold;
    }
</style>
