---
import Layout from '../layouts/Layout.astro';
import MediaLinks from '../components/MediaLinks.astro';
---

<Layout title='Contact'>
    <section
        class='flex flex-col items-center gap-16 absolute top-1/2 -translate-y-1/2'
    >
        <h1
            class='text-5xl xl:text-7xl text-transparent bg-gradient-to-r from-acent to-sky-500 bg-clip-text font-bold font-frutiger'
        >
            Contact Me!
        </h1>
        <form
            class='w-full p-[4px] bg-gradient-to-r from-acent to-sky-500 rounded-lg flex'
        >
            <fieldset
                class='xl:grid xl:grid-cols-2 flex flex-col gap-4 px-4 xl:p-16 py-8 rounded-l-md text-acent bg-white'
            >
                <label
                    for='name'
                    class='hidden xl:block mb-2 text-2xl font-bold font-frutiger'
                >
                    Name:
                </label>
                <input
                    type='text'
                    name='name'
                    id='name'
                    placeholder='Your name'
                    required
                />
                <label
                    for='email'
                    class='hidden xl:block mb-2 text-2xl font-bold font-frutiger'
                >
                    Email:
                </label>
                <input
                    type='email'
                    name='email'
                    id='email'
                    placeholder='Your email'
                    required
                />
                <label
                    for='message'
                    class='hidden xl:block mb-2 text-2xl font-bold font-frutiger'
                >
                    Message:
                </label>
                <textarea
                    class='min-h-[48px] max-w-[600px] min-w-[300px] xl:min-w-[450px] max-h-[400px]'
                    name='message'
                    id='message'
                    placeholder='Tell me something...'
                >
                </textarea>
                <button
                    type='submit'
                    class='text-4xl font-bold font-frutiger text-neutral-50 bg-gradient-to-r from-acent to-sky-500 rounded-md px-4 py-2 col-span-2 hover:from-white hover:to-white hover:text-acent ring-2 ring-transparent hover:ring-acent'
                >
                    Send
                </button>
            </fieldset>
            <MediaLinks
                listStyle='flex-col bg-white rounded-r-md gap-4 justify-center px-4'
            />
        </form>
    </section>
</Layout>

<style>
    input,
    textarea {
        @apply rounded-md px-4 focus:outline focus:outline-2 focus:outline-acent border-2 border-primary;
    }
    textarea {
        @apply py-2;
        resize: both;
    }
    label {
        @apply text-4xl bg-gradient-to-r from-acent to-sky-500 bg-clip-text w-fit;
    }

    fieldset {
        grid-template-columns: 175px 1fr;
    }
</style>
