---
interface Props {
    href: string;
    title: string;
    currentDir?: string;
}
const { href, title, currentDir } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<li
    class={`transition-colors duration-300 font-bold font-frutiger text-xl ${`${baseUrl + currentDir}` === href ? 'text-acent' : 'text-primary'} hover:text-acent`}
>
    <a href={baseUrl + href}>{title}</a>
</li>
